      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }

     #floating-toolbox {
        position: absolute;
        top: 10px;
        left: 20%;
        z-index: 5;
        background-color: #fff;
        opacity: .6;
        padding: 5px;
        background-color: rgb(64, 164, 224);
        border: 2px solid #fff;
        text-align: left;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 5px;
      }


      #floating-panel {
        position: absolute;
        top: 60%;
        left: 20%;
        z-index: 5;
        background-color: #fff;
        opacity: .6; 
        padding: 5px;
        background-color: rgb(64, 164, 224);
        border: 2px solid #fff;
        text-align: left;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 5px;
      }
      #option-panel {
        text-align: left;
        position: absolute;
        top: 10px;
        left: 60%;
        opacity: .6;
        z-index: 5;
        background-color: rgb(64, 164, 224);
        padding: 0px;
        border: 2px solid #fff;
        padding-left: 5px;
        line-height: 20px;
      }
      
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    .alignleft {
	    float: left;
    }
    .alignright {
    	float: right;
    }
   .aligncenter {
      float: center;
    }
